<!DOCTYPE html>
<html>
<head>
  <title>Golivesms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="GoLiveSMS - Free to End User Text Messaging. ">
  <meta name="keywords", content="FTEU, Text Messaging, free to end user, mobile, mobile marketing, mobile messaging, sms, sms technology">
</head>
<body>
<%= render 'header' %>
<%= yield %>
<%= render 'footer' %>
</body>
</html>
